@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

img.card {
    padding-bottom: 0;
    object-fit: cover;
}

.card {
    width: 420px;
    flex-direction: row;
    justify-content: center;
}

.card h2 {
    margin: 1rem 0;
}

.contact-item {
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-item img {
    height: 2rem;
    width: 2rem;
}