@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav * {
    list-style-type: none;
}

header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}

header div {
    text-align: center;
}

header div h3 {
    font-size: 16px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul a {
    color: gray;
    font-size: 20px;
}

.active_link {
    color: darkgreen;
}

main {
    height: 90vh;
    margin-top: 10vh;
    padding: 50px;

    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}

main p {
    font-size: 20px;
}

main h1 {
    font-size: 100px;
    letter-spacing: 30px;
    margin: 2rem 0;
}

.main-btn:hover {
    transform: scale(1.1);
    color: #416559;
    transition: 1s;
}
