body {
    width: 98.5vw;
    height: 97vh;
    margin: 1.5vh 0.75vw;
    padding: 0;

    display: flex;
    gap: 1rem;
    flex-direction: column;

    color: white;
}

.widgets {
    background-color: steelblue;
    flex-grow: 1;
}

.big_widgets-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.big_widget {
    background-color: darkslateblue;
    flex-grow: 1;
}

.contact {
    background-color: steelblue;
    flex-grow: 2;
}

.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
}