* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 4vh;
    background-color: #D9D9D9;
}

main {
    height: 74vh;
    display: flex;
}

.content {
    width: 59vw;
    background-color: #A4A4A4;
}

aside {
    width: 41vw;
}

.spam-1 {
    height: 40vh;
    background-color: #7F7A7A;
}

.spam-2 {
    height: 34vh;
    background-color: #615050;
}

.links {
    height: 10vh;
    background-color: #D9D9D9;
}

footer {
    height: 12vh;
    background-color: #AFA9A9;
}