@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #071341;
    font-family: 'Inter', serif;
    font-weight: 500;
    color: white;
}

p {
    color: #8E88C1;
}

main {
    padding: 113px 0 94px 0;
}

.page-constraint {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*-------------------- Header ----------------------------------*/
header {
    position: fixed;
    top: 0;
    height: 113px;
    width: 100%;

    background-color: #24204A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header .page-constraint {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E5E5E5;

    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}

header ul {
    display: flex;
    align-items: center;
    gap: 63px;
}

header nav li a {
    color: inherit;
    opacity: 0.6;
}

/*------------------------- First screen -----------------------------*/

.first-screen {
    background-color: #24204A;
    padding: 67px 0 101px 0;
}

.first-screen .page-constraint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.first-screen > .page-constraint > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lbl {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    line-height: 130%;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 261px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.first-screen p {
    max-width: 570px;
    line-height: 130%;
    letter-spacing: 0.8px;
}

.main-btn {
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: #3F50E7;

    color: inherit;
    font: inherit;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
}

.main-img {
    width: 375px;
    height: 411px;
    margin-right: 17px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

/*------------------------- Second screen ------------------------------------*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 152px;
}

.sun-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.sun-item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sun-item > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sun-item p {
    line-height: 150%;
    letter-spacing: 0.8px;
}

h2 {
    max-width: 1074px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 117%;
}

.information p {
    line-height: 150%;
    letter-spacing: 0.8px;
    text-align: center;
}

.sun-card {
    width: 209px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    padding: 44px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.sun-icon {
    width: 52px;
    height: 52px;
    object-fit: none;
    background-position: center;
}

.sun-card p {
    text-align: center;
    line-height: 125%;
    letter-spacing: 0.8px;
}

/*----------------------------- Map ----------------------------------*/

.map {
    border: 0;
    height: 664px;
    width: 100%;
}

/*----------------------------- Footer ----------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    height: 94px;
    width: 100%;
    background-color: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

