h3 {
    margin-top: 3rem;
}

/*--------------for task---------------*/
.first-list > ul > li:nth-child(2n) {
    color: deeppink;
}

.second-list > ul > li:nth-child(2n+1) {
    font-size: 22px;
}

.third-list > ul > li:nth-child(2n+4)::after {
    content: " !";
    color: red;
}

.forth-list > ul > li:last-of-type {
    color: purple;
}

.fifth-list > ul > li::first-letter {
    color: red;
    font-size: 30px;
}
/*-------------------------------------*/

